:root{
    --color-purple : #816AFE
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--color-purple);
    overflow-x: hidden; 
}

.container{
    background-color: var(--color-purple);
    width: 90%;
    height: 80%;
    box-shadow: 0px 10px 32px 8px rgba(28, 8, 133, 0.4);

}

/*button*/
button{
    cursor: pointer;
}

/*style HEADER*/
header{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

}
.links{
    margin: 0 auto ; 
    position: relative;
    left: 2rem;
}.links a{
    text-decoration: none;
    color: white;
    margin: 0 1.5rem;
}
.links :first-child{
    color: #8EFCBA;
}
.button{
   display: flex;
   color: white;
   position: relative;
   right: 6rem;
}
.button button {
    width: 80px;
    height: 32px;
    border: none;
    background-color: var(--color-purple);
    color: white;

}   
.button button:first-child {
    color: var(--color-purple);
    border-radius: 4px;
    background-color: white;
    border: none;
    outline: none;

}
#languages{
    color: white;
    background-color:var(--color-purple) ;
    outline: none;
    cursor: pointer;
}
/*style HEADER*/


/*Style left*/
.main_logo{
    margin-left: 2.5rem;
    margin-top: 2rem;
    display: flex;
}
.left img{
    margin-bottom: 1rem;
    width: 216px;
    height: 105.79px;
}

.left h2{
    color: white;
}.left .second{
    color: #8EFCBA;
}
.left button{
    width: 255px;
    height: 35px;
    border-radius: 50px;
    font-size: 15px;
    margin-top: 2rem;
    color: var(--color-purple);
    border:none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    filter: drop-shadow(4px 4px 28px rgba(0, 0, 0, 0.15));

}
.right{
  margin-left: 19rem;
  margin-top: 0.5rem;
}
.right img{
    width: 359px;
    height: 323px;

}

/*style LEFT*/
main{
    width: 100%;
    min-height: 100%;
    background-color: white;
    background-color: white;
    font-weight: normal;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    color: #222222;
    margin-top: 20px;
   
}
main h1{
    line-height: 87px;
}
main h1 a{
    color: #8EFCBA;
    text-decoration: none;
    cursor:initial;
    font-size: 36px;
    line-height: 49px;
    font-weight: normal;
}
footer h3{   
    font-style: normal;
    font-weight: normal;

}
.a{
    height: 20px;
    width: 200px;
}

/*Style MAIN*/

.player{
    margin-top: 2.5rem;
}

.top{
    
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top td {
    height: 168px;
    width: 310.5px;
    background-color: gray;
    border-radius: 10px;
}
.top td:first-child {
   position: relative;
   right: 10px;
}
.top td:last-child{
    position: relative;
    left: 10px;
 }


 /*Style mid*/

 .mid{
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 8.5rem;
 }
 .mid td {
    height: 168px;
    width: 310.5px;
    background-color: gray;
    border-radius: 10px;
}

.mid td:first-child {
    width:708px;
    position: relative;
    right: 1rem;
}
.mid td:last-child {
    width:226px;
    
}

/*Style last*/

.last{
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 17rem;
}

.last td {
    height: 168px;
    width: 310.5px;
    background-color: gray;
    border-radius: 10px;
}
.last td:last-child {
    width:708px;
  
}
.last td:first-child {
    width:226px;
    position: relative;
    right: 1rem;
}

/*end style player*


/*explore more*/

#button{
    width: 211px;
    height: 50px;
    position: relative;
    bottom: 24rem;
    border-radius: 50px;
    outline: none;
    border: 2px solid #816AFE;
    color: #816AFE;
    opacity: .85;
}
#button:hover{
    opacity: 1;
    
    transition: 0.5s;
}


/*end explore more*/